body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.selects {
  display: flex
}

select {
  width: 150px;
  height: 25px;
  margin: 0px 10px 0px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial;
  background-color: #E0FFFF;
}

svg {
  background-color: #E0FFFF;
  margin: 10px
}

.section {
  display: flex;
  padding: 10px;
  margin: 10px;
  align-items: center;
}

.legend {
  background-color: white;
  color: black;
  width: 200px;
  height: 400px;
  margin: 10px
  /* margin: 10px; */
}

.legendPoint {
  display:flex;
  align-items: center;
}

.sample {
  width: 20px;
  height: 20px;
  margin: 0px 15px 0px 25px;
}

p {
  font-size: 12px;
}

#adbdbdb {
  background-color: #dbdbdb
}

#affa500 {
  background-color: #ffa500
}

#ac98304 {
  background-color: #c98304
}

#aa86d03 {
  background-color: #a86d03
}

#a7f5201 {
  background-color: #7f5201
}

#a523501 {
  background-color: #523501
}

#a422A01 {
  background-color: #422A01
}
