body {
  margin: 0;
  padding-bottom: 50;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.selects {
  display: flex
}

select {
  width: 150px;
  height: 25px;
  margin: 0px 10px 0px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Arial;
  background-color: #E0FFFF;
}

svg {
  background-color: #E0FFFF;
  margin: 10px
}

.section {
  display: flex;
  padding: 10px;
  margin: 10px;
  align-items: center;
}

.legend {
  background-color: #E0FFFF;
  color: black;
  width: 200px;
  height: 400px;
  margin: 10px
  /* margin: 10px; */
}

.legendPoint {
  display:flex;
  align-items: center;
}

.sample {
  width: 20px;
  height: 20px;
  margin: 0px 15px 0px 25px;
}

p {
  font-size: 12px;
}

#adbdbdb {
  background-color: #dbdbdb
}

#affa500 {
  background-color: #ffa500
}

#ac98304 {
  background-color: #c98304
}

#aa86d03 {
  background-color: #a86d03
}

#a7f5201 {
  background-color: #7f5201
}

#a523501 {
  background-color: #523501
}

#a422A01 {
  background-color: #422A01
}

.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.Axis text {
  font-size: 11px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}

.desc {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
}

.projects {
  display: flex;
  background-color: #E0FFFF;
  color: black;
  margin: 8px;
}

label {
  font-size: 14px;
  margin: 4px;
}

img {
  margin: 15px;
  padding: 15px;
}

.search-container {
  margin: 10px;
}

div.footer {
  margin-bottom: 150px;
}

input {
  background-color: #E0FFFF;
  height: 25px;
  margin: 5px;
  border-radius: 5px;
}

button {
  width: 50px;
  height: 25px;
  margin: 4px;
  border-radius: 5px;
  background-color: #a86d03;
  color: white;
  font-size: 12px;
}
